@mol-fe:registry="http://verdaccio.mol.dmgt.net:4873/"
@mol-ads:registry="http://verdaccio.mol.dmgt.net:4873/"
@mol-utils:registry="http://verdaccio.mol.dmgt.net:4873/"
unsafe-perm=true
init-license="UNLICENSED"
